[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/ack-vim"]
	path = vim/bundle/ack-vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-solarized"]
	path = vim/bundle/vim-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/color-badwolf"]
	path = vim/bundle/color-badwolf
	url = git://github.com/sjl/badwolf.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/color-festoon"]
	path = vim/bundle/color-festoon
	url = git://github.com/vim-scripts/Festoon.git
[submodule "vim/bundle/golden-ratio"]
	path = vim/bundle/golden-ratio
	url = git://github.com/roman/golden-ratio.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/plugin/chromereload-vim"]
	path = vim/plugin/chromereload-vim
	url = git://gist.github.com/2369894.git
[submodule "vim/bundle/csapprox"]
	path = vim/bundle/csapprox
	url = https://github.com/bukzor/csapprox.git
[submodule "vim/bundle/scratch"]
	path = vim/bundle/scratch
	url = git://github.com/vim-scripts/scratch.vim.git
[submodule "vim/plugin/html5-vim"]
	path = vim/plugin/html5-vim
	url = git://gist.github.com/390929.git
